[Unit]
Description=Go lang service
ConditionPathExists=/tmp/golang-myip/
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/tmp/golang-myip/
ExecStart=/tmp/golang-myip/build/server.x86_64

Restart=on-failure
RestartSec=10

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=appgoservice

[Install]
WantedBy=multi-user.target

